In [2]:
import numpy as np
import pandas as pd

In [3]:
traffic_data = pd.read_csv('Dataset.csv')

In [4]:
original_traffic_data = traffic_data.copy()

In [5]:
traffic_data = original_traffic_data.copy()

In [6]:
traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_time            33750 non-null  object
 1   is_holiday           43 non-null     object
 2   air_pollution_index  33750 non-null  int64
 3   humidity             33750 non-null  int64
 4   wind_speed           33750 non-null  int64
 5   wind_direction       33750 non-null  int64
 6   visibility_in_miles  33750 non-null  int64
 7   dew_point            33750 non-null  int64
 8   temperature          33750 non-null  float64
 9   rain_p_h             33750 non-null  float64
 10  snow_p_h             33750 non-null  float64
 11  clouds_all           33750 non-null  int64
 12  weather_type         33750 non-null  object
 13  weather_description  33750 non-null  object
 14  traffic_volume       33750 non-null  int64
dtypes: float64(3), int64(8), object(4)
memory usage: 3.9+ MB

In [7]:
traffic_data.describe()

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,traffic_volume
count,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000
mean,154.841422,71.209007,3.378193,199.471852,4.989748,4.989748,280.069587,0.448739,0.000318,50.458785,3240.118163
std,83.735515,16.852248,2.055792,99.841088,2.570021,2.570021,13.415256,53.526500,0.009760,38.871734,1991.487289
min,10.000000,13.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,83.000000,60.000000,2.000000,130.000000,3.000000,3.000000,271.720000,0.000000,0.000000,1.000000,1165.250000
50%,155.000000,72.000000,3.000000,200.000000,5.000000,5.000000,280.150000,0.000000,0.000000,64.000000,3335.000000
75%,228.000000,85.000000,5.000000,290.000000,7.000000,7.000000,290.620000,0.000000,0.000000,90.000000,4926.000000
max,299.000000,100.000000,16.000000,360.000000,9.000000,9.000000,308.240000,9831.300000,0.510000,100.000000,7280.000000

In [8]:
missing_values = traffic_data.isnull().sum()
print(f"Missing values in each column:\n{missing_values}")

Missing values in each column:
date_time                  0
is_holiday             33707
air_pollution_index        0
humidity                   0
wind_speed                 0
wind_direction             0
visibility_in_miles        0
dew_point                  0
temperature                0
rain_p_h                   0
snow_p_h                   0
clouds_all                 0
weather_type               0
weather_description        0
traffic_volume             0
dtype: int64

In [9]:
traffic_data['is_holiday'] = traffic_data['is_holiday'].fillna("No Holiday")
print(traffic_data['is_holiday'].unique())

['No Holiday' 'Columbus Day' 'Veterans Day' 'Thanksgiving Day'
 'Christmas Day' 'New Years Day' 'Washingtons Birthday' 'Memorial Day'
 'Independence Day' 'State Fair' 'Labor Day' 'Martin Luther King Jr Day']

In [10]:
# Checking missing values
missing_values = traffic_data.isnull().sum()
print(f"Missing values in each column:\n{missing_values}")

Missing values in each column:
date_time              0
is_holiday             0
air_pollution_index    0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
weather_description    0
traffic_volume         0
dtype: int64

In [11]:
dupicated = traffic_data[traffic_data.duplicated(keep=False)]
dupicated

Empty DataFrame
Columns: [date_time, is_holiday, air_pollution_index, humidity, wind_speed, wind_direction, visibility_in_miles, dew_point, temperature, rain_p_h, snow_p_h, clouds_all, weather_type, weather_description, traffic_volume]
Index: []

In [12]:
traffic_data['date_time'] = pd.to_datetime(traffic_data['date_time'], format='%Y-%m-%d %H:%M:%S')

traffic_data['year'] = traffic_data['date_time'].dt.year
traffic_data['month'] = traffic_data['date_time'].dt.month
traffic_data['day'] = traffic_data['date_time'].dt.day
traffic_data['hour'] = traffic_data['date_time'].dt.hour
traffic_data['day_of_week'] = traffic_data['date_time'].dt.dayofweek  # Monday=0, Sunday=6

traffic_data.drop('date_time', axis=1, inplace=True)

In [13]:
traffic_data.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,hour,day_of_week
0,No Holiday,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545,2012,10,2,9,1
1,No Holiday,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516,2012,10,2,10,1
2,No Holiday,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767,2012,10,2,11,1
3,No Holiday,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026,2012,10,2,12,1
4,No Holiday,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918,2012,10,2,13,1

In [14]:
traffic_data[traffic_data.temperature == 0]

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,hour,day_of_week
11898,No Holiday,26,78,2,320,1,1,0.0,0.0,0.0,0,Clear,sky is clear,361,2014,1,31,3,4
11899,No Holiday,18,77,3,310,1,1,0.0,0.0,0.0,0,Clear,sky is clear,734,2014,1,31,4,4
11900,No Holiday,189,84,3,310,1,1,0.0,0.0,0.0,0,Clear,sky is clear,2557,2014,1,31,5,4
11901,No Holiday,12,84,4,320,1,1,0.0,0.0,0.0,0,Clear,sky is clear,5150,2014,1,31,6,4
11946,No Holiday,250,70,0,0,1,1,0.0,0.0,0.0,0,Clear,sky is clear,291,2014,2,2,3,6
11947,No Holiday,154,76,0,0,3,3,0.0,0.0,0.0,0,Clear,sky is clear,284,2014,2,2,4,6
11948,No Holiday,151,83,2,220,2,2,0.0,0.0,0.0,0,Clear,sky is clear,434,2014,2,2,5,6
11949,No Holiday,174,83,0,0,2,2,0.0,0.0,0.0,0,Clear,sky is clear,739,2014,2,2,6,6
11950,No Holiday,143,83,1,210,9,9,0.0,0.0,0.0,0,Clear,sky is clear,962,2014,2,2,7,6
11951,No Holiday,187,83,0,0,6,6,0.0,0.0,0.0,0,Clear,sky is clear,1670,2014,2,2,8,6

In [15]:
traffic_data = traffic_data[traffic_data['temperature'] != 0]

In [16]:
#Categorizing days based on weekday
def day_of_week(day) -> str:

    if day in [0, 1, 2, 3, 4]:
        return "weekday"
    else:
        return "weekend"

traffic_data["weekday_categorical"] = traffic_data["day_of_week"].map(day_of_week)

In [17]:
traffic_data

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,hour,day_of_week,weekday_categorical
0,No Holiday,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545,2012,10,2,9,1,weekday
1,No Holiday,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516,2012,10,2,10,1,weekday
2,No Holiday,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767,2012,10,2,11,1,weekday
3,No Holiday,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026,2012,10,2,12,1,weekday
4,No Holiday,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918,2012,10,2,13,1,weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33745,No Holiday,74,85,1,328,7,7,287.88,0.0,0.0,90,Mist,mist,2348,2017,5,17,21,2,weekday
33746,No Holiday,81,70,1,24,2,2,286.95,0.0,0.0,90,Rain,heavy intensity rain,2194,2017,5,17,22,2,weekday
33747,No Holiday,138,70,1,24,1,1,286.95,0.0,0.0,90,Mist,mist,2194,2017,5,17,22,2,weekday
33748,No Holiday,229,66,1,42,6,6,285.75,0.0,0.0,90,Rain,heavy intensity rain,1328,2017,5,17,23,2,weekday
33749,No Holiday,140,63,1,27,8,8,285.75,0.0,0.0,90,Mist,mist,1328,2017,5,17,23,2,weekday

In [18]:
# Categorizing hours like morning, night, etc.
def hour(hour_value) -> str:  
    if hour_value in [4, 5, 6, 7]:
        return "early_morning"
    elif hour_value in [8, 9, 10, 11]:
        return "morning"
    elif hour_value in [12, 13, 14, 15]:
        return "afternoon"
    elif hour_value in [16, 17, 18, 19]:
        return "evening"
    elif hour_value in [20, 21, 22, 23]:
        return "night"
    else:
        return "late_night"  

traffic_data["hour_categorical"] = traffic_data["hour"].map(hour)

In [19]:
# Function to detect outliers using IQR
def detect_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)  
    Q3 = df[column].quantile(0.75)  
    IQR = Q3 - Q1  

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)].index
    return outliers

columns_to_check = [
    "air_pollution_index", "wind_speed", "humidity", "wind_direction", 
    "visibility_in_miles", "dew_point", "temperature", "clouds_all"
]

for col in columns_to_check:
    outliers = detect_outliers_iqr(traffic_data, col)  
    print(f"Outliers in '{col}': {list(outliers)}")  

    traffic_data = traffic_data.drop(index=outliers)

traffic_data = traffic_data.reset_index(drop=True)

print("Dataset after removing outliers:")
print(traffic_data)

Outliers in 'air_pollution_index': []
Outliers in 'wind_speed': [102, 103, 104, 105, 129, 601, 603, 1288, 1601, 2496, 2670, 2671, 2672, 2673, 2674, 2676, 2677, 2678, 2767, 3412, 3415, 4066, 4067, 4072, 4073, 4373, 4601, 4791, 4803, 4814, 5347, 5358, 5360, 5361, 5438, 5545, 6177, 6333, 6535, 6823, 6824, 6825, 6898, 6921, 6943, 6964, 6966, 6967, 6995, 7064, 7088, 7447, 7782, 7784, 7804, 7808, 7882, 9562, 9900, 9951, 11480, 11574, 11575, 11576, 11577, 11578, 11581, 11582, 12184, 12185, 12200, 12319, 12320, 12322, 12323, 12324, 12325, 12327, 12328, 12329, 12330, 12705, 12956, 12992, 12993, 12994, 13023, 13128, 13281, 13350, 13433, 13434, 13488, 13558, 13561, 13562, 13615, 13617, 13618, 13737, 13746, 13747, 13748, 13749, 13758, 13759, 13760, 13761, 13765, 13766, 13778, 13785, 13787, 13788, 13790, 13791, 14581, 15887, 18427, 18428, 21727, 21728, 21730, 21731, 21819, 21821, 21823, 21824, 21825, 21826, 21827, 21896, 23008, 24474, 25333, 26545, 26547, 26548, 26549, 26551, 26552, 26553, 27283, 27284, 27285, 27286, 27287, 27300, 27434, 27435, 27450, 27451, 27452, 27453, 27454, 27455, 27460, 27461, 27465, 27466, 27472, 27473, 27474, 28059, 28060, 28290, 29280, 29386, 29388, 29389, 29391, 29906, 30104, 30108, 30285, 30290, 30291, 30293, 30297, 30695, 30696, 30700, 30701, 30704, 30847, 30848, 31304, 31446, 31588, 31589, 31689, 32240, 32241, 32242, 32255, 32382, 32720, 32721, 32722, 32723, 32742, 32747, 32963, 33107, 33152, 33487, 33652]
Outliers in 'humidity': [178, 274, 296, 297, 298, 2415, 2433, 3945, 3966, 5025, 5026, 5027, 5028, 5029, 5336, 5337, 5338, 5339, 5340, 5341, 5384, 5385, 5386, 5387, 5388, 5389, 5432, 5434, 5435, 5436, 5437, 5439, 5479, 5480, 5481, 5482, 5483, 5484, 5489, 13349, 13351, 13352, 13353, 13354, 13355, 13473, 13474, 13475, 13476, 13587, 22234, 30487, 30488, 30489, 30490, 31453, 31474, 31475, 31476, 31477, 31496, 31497, 31498, 31499, 31500, 31501, 31520, 31521, 31522, 31542, 31543, 31544, 31545, 31546, 31547, 31548, 31549, 31551, 31566, 31567, 31568, 31569, 31570, 31571, 31572, 31573, 31811, 31881, 31882, 31883, 31884, 31902, 31903, 31904, 31905, 31906, 31907, 31908, 31909, 33367]
Outliers in 'wind_direction': []
Outliers in 'visibility_in_miles': []
Outliers in 'dew_point': []
Outliers in 'temperature': []
Outliers in 'clouds_all': []
Dataset after removing outliers:
       is_holiday  air_pollution_index  humidity  wind_speed  wind_direction  \
0      No Holiday                  121        89           2             329
1      No Holiday                  178        67           3             330
2      No Holiday                  113        66           3             329
3      No Holiday                   20        66           3             329
4      No Holiday                  281        65           3             329
...           ...                  ...       ...         ...             ...
33428  No Holiday                   74        85           1             328
33429  No Holiday                   81        70           1              24
33430  No Holiday                  138        70           1              24
33431  No Holiday                  229        66           1              42
33432  No Holiday                  140        63           1              27

       visibility_in_miles  dew_point  temperature  rain_p_h  snow_p_h  ...  \
0                        1          1       288.28       0.0       0.0  ...
1                        1          1       289.36       0.0       0.0  ...
2                        2          2       289.58       0.0       0.0  ...
3                        5          5       290.13       0.0       0.0  ...
4                        7          7       291.14       0.0       0.0  ...
...                    ...        ...          ...       ...       ...  ...
33428                    7          7       287.88       0.0       0.0  ...
33429                    2          2       286.95       0.0       0.0  ...
33430                    1          1       286.95       0.0       0.0  ...
33431                    6          6       285.75       0.0       0.0  ...
33432                    8          8       285.75       0.0       0.0  ...

       weather_type   weather_description traffic_volume  year  month  day  \
0            Clouds      scattered clouds           5545  2012     10    2
1            Clouds         broken clouds           4516  2012     10    2
2            Clouds       overcast clouds           4767  2012     10    2
3            Clouds       overcast clouds           5026  2012     10    2
4            Clouds         broken clouds           4918  2012     10    2
...             ...                   ...            ...   ...    ...  ...
33428          Mist                  mist           2348  2017      5   17
33429          Rain  heavy intensity rain           2194  2017      5   17
33430          Mist                  mist           2194  2017      5   17
33431          Rain  heavy intensity rain           1328  2017      5   17
33432          Mist                  mist           1328  2017      5   17

       hour  day_of_week  weekday_categorical hour_categorical
0         9            1              weekday          morning
1        10            1              weekday          morning
2        11            1              weekday          morning
3        12            1              weekday        afternoon
4        13            1              weekday        afternoon
...     ...          ...                  ...              ...
33428    21            2              weekday            night
33429    22            2              weekday            night
33430    22            2              weekday            night
33431    23            2              weekday            night
33432    23            2              weekday            night

[33433 rows x 21 columns]

In [20]:
traffic_data.loc[traffic_data['is_holiday'] != 'No Holiday', 'is_holiday'] = 1
traffic_data.loc[traffic_data['is_holiday'] == 'No Holiday', 'is_holiday'] = 0
traffic_data['is_holiday'] = traffic_data['is_holiday'].astype(int)

In [21]:

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
traffic_data['weather_type'] = le.fit_transform(traffic_data['weather_type'])
traffic_data['weather_description'] = le.fit_transform(traffic_data['weather_description'])
traffic_data['weekday_categorical'] = le.fit_transform(traffic_data['weekday_categorical'])
traffic_data['hour_categorical'] = le.fit_transform(traffic_data['hour_categorical'])

traffic_data

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,...,weather_type,weather_description,traffic_volume,year,month,day,hour,day_of_week,weekday_categorical,hour_categorical
0,0,121,89,2,329,1,1,288.28,0.0,0.0,...,1,24,5545,2012,10,2,9,1,0,4
1,0,178,67,3,330,1,1,289.36,0.0,0.0,...,1,2,4516,2012,10,2,10,1,0,4
2,0,113,66,3,329,2,2,289.58,0.0,0.0,...,1,19,4767,2012,10,2,11,1,0,4
3,0,20,66,3,329,5,5,290.13,0.0,0.0,...,1,19,5026,2012,10,2,12,1,0,0
4,0,281,65,3,329,7,7,291.14,0.0,0.0,...,1,2,4918,2012,10,2,13,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33428,0,74,85,1,328,7,7,287.88,0.0,0.0,...,5,17,2348,2017,5,17,21,2,0,5
33429,0,81,70,1,24,2,2,286.95,0.0,0.0,...,6,9,2194,2017,5,17,22,2,0,5
33430,0,138,70,1,24,1,1,286.95,0.0,0.0,...,5,17,2194,2017,5,17,22,2,0,5
33431,0,229,66,1,42,6,6,285.75,0.0,0.0,...,6,9,1328,2017,5,17,23,2,0,5
33432,0,140,63,1,27,8,8,285.75,0.0,0.0,...,5,17,1328,2017,5,17,23,2,0,5

In [22]:
X = traffic_data.drop(columns=['traffic_volume'])
y = traffic_data['traffic_volume']

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.1, random_state=0)

In [37]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

y_train_scaled = scaler.fit_transform(y_train.values.reshape(-1, 1))
y_test_scaled = scaler.transform(y_test.values.reshape(-1, 1))

In [38]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

y_pred = rf_model.predict(X_test)

In [34]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error

mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)
mape =mean_absolute_percentage_error(y_test, y_pred)
print("Mean Absolute Percentage Error:", mape)

Mean Absolute Error: 233.635028907496
Mean Absolute Percentage Error: 0.6754093547737179

In [51]:
from sklearn.neural_network import MLPRegressor

mlp_model = MLPRegressor(hidden_layer_sizes=(100,), max_iter=100, random_state=42)
mlp_model.fit(X_train, y_train)

y_pred_mlp = mlp_model.predict(X_test)

c:\Users\vibha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:690: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(

In [28]:
from sklearn.metrics import mean_absolute_error, r2_score
print("Mean Absolute Error (MAE): " + str(mean_absolute_error(y_test, y_pred_mlp)))
r2 = r2_score(y_test, y_pred_mlp)
print(f"R² Score: {r2}")

Mean Absolute Error (MAE): 973.5314326611442
R² Score: 0.6140262974131265

In [ ]:
import numpy as np

def create_sequences(data, target, window_size):
    sequences, labels = [], []
    for i in range(len(data) - window_size):
        sequences.append(data[i:i+window_size])
        labels.append(target[i + window_size])
    return np.array(sequences), np.array(labels)

window_size = 5

X_train_seq, y_train_seq = create_sequences(X_train_scaled, y_train_scaled, window_size)
X_test_seq, y_test_seq = create_sequences(X_test_scaled, y_test_scaled, window_size)

In [ ]:
from keras.models import Sequential
from keras.layers import Input, LSTM, Dense, Dropout, BatchNormalization
from keras.optimizers import Adam

lstm_model = Sequential([
    Input(shape=(X_train_seq.shape[1], X_train_seq.shape[2])),
    LSTM(128, return_sequences=True, activation='tanh', dropout=0.2),
    BatchNormalization(),
    LSTM(64, return_sequences=False, activation='tanh', dropout=0.2),
    Dense(32, activation='relu'),
    Dropout(0.2),
    Dense(1)
])

# Compile the model
lstm_model.compile(optimizer=Adam(learning_rate=0.001), loss='mse', metrics=['mae'])

In [ ]:
import keras_tuner as kt

def build_model(hp):
    model = Sequential([
        Input(shape=(X_train_seq.shape[1], X_train_seq.shape[2])),
        LSTM(hp.Int('units_1', min_value=32, max_value=128, step=32), 
             return_sequences=True, dropout=hp.Float('dropout_1', 0.1, 0.5, step=0.1)),
        BatchNormalization(),
        LSTM(hp.Int('units_2', min_value=32, max_value=128, step=32),
             return_sequences=False, dropout=hp.Float('dropout_2', 0.1, 0.5, step=0.1)),
        Dense(hp.Int('dense_units', min_value=16, max_value=64, step=16), activation='relu'),
        Dropout(hp.Float('dropout_dense', 0.1, 0.5, step=0.1)),
        Dense(1)
    ])
    model.compile(optimizer=Adam(learning_rate=hp.Choice('lr', [0.001, 0.0005, 0.0001])), 
                  loss='mse', metrics=['mae'])
    return model

tuner = kt.RandomSearch(
    build_model,
    objective='val_mae',
    max_trials=10,
    executions_per_trial=1,
    directory='my_dir',
    project_name='lstm_tuning'
)

tuner.search(X_train_seq, y_train_seq, epochs=50, validation_split=0.2, batch_size=32)

Trial 10 Complete [00h 07m 43s]
val_mae: 0.23806001245975494

Best val_mae So Far: 0.23799388110637665
Total elapsed time: 01h 07m 45s

In [45]:
from keras.callbacks import EarlyStopping

early_stopping = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

history = lstm_model.fit(
    X_train_seq, y_train_seq,
    validation_split=0.2,
    epochs=100,
    batch_size=64,
    callbacks=[early_stopping]
)

Epoch 1/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 10s 15ms/step - loss: 0.1081 - mae: 0.2739 - val_loss: 0.0740 - val_mae: 0.2390
Epoch 2/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 5s 12ms/step - loss: 0.0778 - mae: 0.2436 - val_loss: 0.0738 - val_mae: 0.2386
Epoch 3/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 4s 12ms/step - loss: 0.0778 - mae: 0.2450 - val_loss: 0.0736 - val_mae: 0.2383
Epoch 4/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 5s 13ms/step - loss: 0.0771 - mae: 0.2438 - val_loss: 0.0748 - val_mae: 0.2401
Epoch 5/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 6s 16ms/step - loss: 0.0758 - mae: 0.2416 - val_loss: 0.0754 - val_mae: 0.2408
Epoch 6/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 6s 15ms/step - loss: 0.0769 - mae: 0.2440 - val_loss: 0.0738 - val_mae: 0.2381
Epoch 7/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 5s 12ms/step - loss: 0.0758 - mae: 0.2419 - val_loss: 0.0737 - val_mae: 0.2385
Epoch 8/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 5s 13ms/step - loss: 0.0747 - mae: 0.2398 - val_loss: 0.0736 - val_mae: 0.2383

In [46]:
from sklearn.model_selection import train_test_split

X_train_final, X_val, y_train_final, y_val = train_test_split(
    X_train_seq, y_train_seq, test_size=0.2, random_state=42
)

Epoch 1/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 4s 9ms/step - loss: 0.0760 - mae: 0.2411 - val_loss: 0.0756 - val_mae: 0.2424
Epoch 2/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 0.0757 - mae: 0.2408 - val_loss: 0.0755 - val_mae: 0.2425
Epoch 3/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 0.0757 - mae: 0.2420 - val_loss: 0.0757 - val_mae: 0.2429
Epoch 4/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - loss: 0.0746 - mae: 0.2396 - val_loss: 0.0755 - val_mae: 0.2424
Epoch 5/100
377/377 ━━━━━━━━━━━━━━━━━━━━ 4s 11ms/step - loss: 0.0749 - mae: 0.2404 - val_loss: 0.0755 - val_mae: 0.2425

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error

y_pred = lstm_model.predict(X_test_seq)

y_pred_original = scaler.inverse_transform(y_pred)
y_test_original = scaler.inverse_transform(y_test_seq)

mae = mean_absolute_error(y_test_original, y_pred_original)
mape = mean_absolute_percentage_error(y_test_original, y_pred_original)

print(f"MAE: {mae}, MAPE: {mape}")

105/105 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step
MAE: 1760.3728845532908, MAPE: 3.2017500985183975