In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [63]:
traffic_data = pd.read_csv('Dataset.csv')

In [64]:
original_traffic_data = traffic_data.copy()

In [78]:
traffic_data = original_traffic_data.copy()

In [79]:
traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date_time            33750 non-null  object
 1   is_holiday           43 non-null     object
 2   air_pollution_index  33750 non-null  int64
 3   humidity             33750 non-null  int64
 4   wind_speed           33750 non-null  int64
 5   wind_direction       33750 non-null  int64
 6   visibility_in_miles  33750 non-null  int64
 7   dew_point            33750 non-null  int64
 8   temperature          33750 non-null  float64
 9   rain_p_h             33750 non-null  float64
 10  snow_p_h             33750 non-null  float64
 11  clouds_all           33750 non-null  int64
 12  weather_type         33750 non-null  object
 13  weather_description  33750 non-null  object
 14  traffic_volume       33750 non-null  int64
dtypes: float64(3), int64(8), object(4)
memory usage: 3.9+ MB

In [80]:
traffic_data.describe()

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,traffic_volume
count,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000
mean,154.841422,71.209007,3.378193,199.471852,4.989748,4.989748,280.069587,0.448739,0.000318,50.458785,3240.118163
std,83.735515,16.852248,2.055792,99.841088,2.570021,2.570021,13.415256,53.526500,0.009760,38.871734,1991.487289
min,10.000000,13.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,83.000000,60.000000,2.000000,130.000000,3.000000,3.000000,271.720000,0.000000,0.000000,1.000000,1165.250000
50%,155.000000,72.000000,3.000000,200.000000,5.000000,5.000000,280.150000,0.000000,0.000000,64.000000,3335.000000
75%,228.000000,85.000000,5.000000,290.000000,7.000000,7.000000,290.620000,0.000000,0.000000,90.000000,4926.000000
max,299.000000,100.000000,16.000000,360.000000,9.000000,9.000000,308.240000,9831.300000,0.510000,100.000000,7280.000000

In [81]:
missing_values = traffic_data.isnull().sum()
print(f"Missing values in each column:\n{missing_values}")

Missing values in each column:
date_time                  0
is_holiday             33707
air_pollution_index        0
humidity                   0
wind_speed                 0
wind_direction             0
visibility_in_miles        0
dew_point                  0
temperature                0
rain_p_h                   0
snow_p_h                   0
clouds_all                 0
weather_type               0
weather_description        0
traffic_volume             0
dtype: int64

In [82]:
traffic_data['is_holiday'] = traffic_data['is_holiday'].fillna("No Holiday")
print(traffic_data['is_holiday'].unique())

['No Holiday' 'Columbus Day' 'Veterans Day' 'Thanksgiving Day'
 'Christmas Day' 'New Years Day' 'Washingtons Birthday' 'Memorial Day'
 'Independence Day' 'State Fair' 'Labor Day' 'Martin Luther King Jr Day']

In [83]:
# Checking missing values
missing_values = traffic_data.isnull().sum()
print(f"Missing values in each column:\n{missing_values}")

Missing values in each column:
date_time              0
is_holiday             0
air_pollution_index    0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
weather_type           0
weather_description    0
traffic_volume         0
dtype: int64

In [84]:
dupicated = traffic_data[traffic_data.duplicated(keep=False)]
dupicated

Empty DataFrame
Columns: [date_time, is_holiday, air_pollution_index, humidity, wind_speed, wind_direction, visibility_in_miles, dew_point, temperature, rain_p_h, snow_p_h, clouds_all, weather_type, weather_description, traffic_volume]
Index: []

In [85]:
traffic_data['date_time'] = pd.to_datetime(traffic_data['date_time'], format='%Y-%m-%d %H:%M:%S')

traffic_data['year'] = traffic_data['date_time'].dt.year
traffic_data['month'] = traffic_data['date_time'].dt.month
traffic_data['day'] = traffic_data['date_time'].dt.day
traffic_data['hour'] = traffic_data['date_time'].dt.hour
traffic_data['day_of_week'] = traffic_data['date_time'].dt.dayofweek  # Monday=0, Sunday=6

traffic_data.drop('date_time', axis=1, inplace=True)

In [86]:
traffic_data.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,hour,day_of_week
0,No Holiday,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545,2012,10,2,9,1
1,No Holiday,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516,2012,10,2,10,1
2,No Holiday,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767,2012,10,2,11,1
3,No Holiday,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026,2012,10,2,12,1
4,No Holiday,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918,2012,10,2,13,1

In [87]:
traffic_data[traffic_data.temperature == 0]

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,hour,day_of_week
11898,No Holiday,26,78,2,320,1,1,0.0,0.0,0.0,0,Clear,sky is clear,361,2014,1,31,3,4
11899,No Holiday,18,77,3,310,1,1,0.0,0.0,0.0,0,Clear,sky is clear,734,2014,1,31,4,4
11900,No Holiday,189,84,3,310,1,1,0.0,0.0,0.0,0,Clear,sky is clear,2557,2014,1,31,5,4
11901,No Holiday,12,84,4,320,1,1,0.0,0.0,0.0,0,Clear,sky is clear,5150,2014,1,31,6,4
11946,No Holiday,250,70,0,0,1,1,0.0,0.0,0.0,0,Clear,sky is clear,291,2014,2,2,3,6
11947,No Holiday,154,76,0,0,3,3,0.0,0.0,0.0,0,Clear,sky is clear,284,2014,2,2,4,6
11948,No Holiday,151,83,2,220,2,2,0.0,0.0,0.0,0,Clear,sky is clear,434,2014,2,2,5,6
11949,No Holiday,174,83,0,0,2,2,0.0,0.0,0.0,0,Clear,sky is clear,739,2014,2,2,6,6
11950,No Holiday,143,83,1,210,9,9,0.0,0.0,0.0,0,Clear,sky is clear,962,2014,2,2,7,6
11951,No Holiday,187,83,0,0,6,6,0.0,0.0,0.0,0,Clear,sky is clear,1670,2014,2,2,8,6

In [88]:
traffic_data = traffic_data[traffic_data['temperature'] != 0]

In [89]:
#Categorizing days based on weekday
def day_of_week(day) -> str:

    if day in [0, 1, 2, 3, 4]:
        return "weekday"
    else:
        return "weekend"

traffic_data["weekday_categorical"] = traffic_data["day_of_week"].map(day_of_week)

In [91]:
traffic_data.head(100)

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,hour,day_of_week,weekday_categorical
0,No Holiday,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545,2012,10,2,9,1,weekday
1,No Holiday,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516,2012,10,2,10,1,weekday
2,No Holiday,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767,2012,10,2,11,1,weekday
3,No Holiday,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026,2012,10,2,12,1,weekday
4,No Holiday,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918,2012,10,2,13,1,weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,No Holiday,149,70,5,240,5,5,280.00,0.0,0.0,75,Clouds,broken clouds,5153,2012,10,6,15,5,weekend
96,No Holiday,77,70,9,240,5,5,279.06,0.0,0.0,90,Clouds,overcast clouds,5024,2012,10,6,16,5,weekend
97,No Holiday,77,70,8,250,1,1,278.91,0.0,0.0,90,Clouds,overcast clouds,4779,2012,10,6,17,5,weekend
98,No Holiday,178,70,7,250,1,1,278.39,0.0,0.0,90,Clouds,overcast clouds,4362,2012,10,6,18,5,weekend
99,No Holiday,114,61,9,250,8,8,278.16,0.0,0.0,90,Clouds,overcast clouds,3860,2012,10,6,19,5,weekend

In [92]:
traffic_data.drop(columns=["day_of_week"], inplace=True)

In [93]:
# Categorizing hours like morning, night, etc.
def hour(hour_value) -> str:  
    if hour_value in [4, 5, 6, 7]:
        return "early_morning"
    elif hour_value in [8, 9, 10, 11]:
        return "morning"
    elif hour_value in [12, 13, 14, 15]:
        return "afternoon"
    elif hour_value in [16, 17, 18, 19]:
        return "evening"
    elif hour_value in [20, 21, 22, 23]:
        return "night"
    else:
        return "late_night"  

traffic_data["hour_categorical"] = traffic_data["hour"].map(hour)

In [94]:
traffic_data.drop(columns=["hour"], inplace=True)

In [96]:
traffic_data.head(100)

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekday_categorical,hour_categorical
0,No Holiday,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545,2012,10,2,weekday,morning
1,No Holiday,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516,2012,10,2,weekday,morning
2,No Holiday,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767,2012,10,2,weekday,morning
3,No Holiday,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026,2012,10,2,weekday,afternoon
4,No Holiday,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918,2012,10,2,weekday,afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,No Holiday,149,70,5,240,5,5,280.00,0.0,0.0,75,Clouds,broken clouds,5153,2012,10,6,weekend,afternoon
96,No Holiday,77,70,9,240,5,5,279.06,0.0,0.0,90,Clouds,overcast clouds,5024,2012,10,6,weekend,evening
97,No Holiday,77,70,8,250,1,1,278.91,0.0,0.0,90,Clouds,overcast clouds,4779,2012,10,6,weekend,evening
98,No Holiday,178,70,7,250,1,1,278.39,0.0,0.0,90,Clouds,overcast clouds,4362,2012,10,6,weekend,evening
99,No Holiday,114,61,9,250,8,8,278.16,0.0,0.0,90,Clouds,overcast clouds,3860,2012,10,6,weekend,evening

In [97]:
# Function to classify rain and snow presence
def snowrain_division(data) -> str:  
    if data > 0:
        return "yes"
    else:
        return "no"

traffic_data["rain_p_h"] = traffic_data["rain_p_h"].map(snowrain_division)
traffic_data["snow_p_h"] = traffic_data["snow_p_h"].map(snowrain_division)

In [98]:
traffic_data.head(100)

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekday_categorical,hour_categorical
0,No Holiday,121,89,2,329,1,1,288.28,no,no,40,Clouds,scattered clouds,5545,2012,10,2,weekday,morning
1,No Holiday,178,67,3,330,1,1,289.36,no,no,75,Clouds,broken clouds,4516,2012,10,2,weekday,morning
2,No Holiday,113,66,3,329,2,2,289.58,no,no,90,Clouds,overcast clouds,4767,2012,10,2,weekday,morning
3,No Holiday,20,66,3,329,5,5,290.13,no,no,90,Clouds,overcast clouds,5026,2012,10,2,weekday,afternoon
4,No Holiday,281,65,3,329,7,7,291.14,no,no,75,Clouds,broken clouds,4918,2012,10,2,weekday,afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,No Holiday,149,70,5,240,5,5,280.00,no,no,75,Clouds,broken clouds,5153,2012,10,6,weekend,afternoon
96,No Holiday,77,70,9,240,5,5,279.06,no,no,90,Clouds,overcast clouds,5024,2012,10,6,weekend,evening
97,No Holiday,77,70,8,250,1,1,278.91,no,no,90,Clouds,overcast clouds,4779,2012,10,6,weekend,evening
98,No Holiday,178,70,7,250,1,1,278.39,no,no,90,Clouds,overcast clouds,4362,2012,10,6,weekend,evening
99,No Holiday,114,61,9,250,8,8,278.16,no,no,90,Clouds,overcast clouds,3860,2012,10,6,weekend,evening

In [100]:
# Function to detect outliers using IQR
def detect_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)  
    Q3 = df[column].quantile(0.75)  
    IQR = Q3 - Q1  

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)].index
    return outliers

columns_to_check = [
    "air_pollution_index", "wind_speed", "humidity", "wind_direction", 
    "visibility_in_miles", "dew_point", "temperature", "clouds_all"
]

for col in columns_to_check:
    outliers = detect_outliers_iqr(traffic_data, col)  
    print(f"Outliers in '{col}': {list(outliers)}")  

    traffic_data = traffic_data.drop(index=outliers)

traffic_data = traffic_data.reset_index(drop=True)

print("Dataset after removing outliers:")
print(traffic_data)

Outliers in 'air_pollution_index': []
Outliers in 'wind_speed': []
Outliers in 'humidity': [81, 82, 91, 92, 173, 268, 288, 289, 740, 4983, 4984, 5030, 5056, 5057, 5293, 5329, 5371, 5372, 5392, 5411, 5412, 5414, 5415, 5416, 6148, 9916, 13210, 13211, 13302, 13303, 13326, 14064, 14065, 14089, 14090, 14355, 22040, 22042, 22043, 22044, 22330, 26398, 29700, 29701, 29702, 29703, 30246, 30247, 30248, 30693, 30765, 30766, 31176, 31177, 31200, 31201, 31218, 31219, 31255, 31275, 31520, 31521, 31522, 31523, 31524, 31525, 31591, 31592, 31609, 33054, 33055]
Outliers in 'wind_direction': []
Outliers in 'visibility_in_miles': []
Outliers in 'dew_point': []
Outliers in 'temperature': []
Outliers in 'clouds_all': []
Dataset after removing outliers:
       is_holiday  air_pollution_index  humidity  wind_speed  wind_direction  \
0      No Holiday                  121        89           2             329
1      No Holiday                  178        67           3             330
2      No Holiday                  113        66           3             329
3      No Holiday                   20        66           3             329
4      No Holiday                  281        65           3             329
...           ...                  ...       ...         ...             ...
33357  No Holiday                   74        85           1             328
33358  No Holiday                   81        70           1              24
33359  No Holiday                  138        70           1              24
33360  No Holiday                  229        66           1              42
33361  No Holiday                  140        63           1              27

       visibility_in_miles  dew_point  temperature rain_p_h snow_p_h  \
0                        1          1       288.28       no       no
1                        1          1       289.36       no       no
2                        2          2       289.58       no       no
3                        5          5       290.13       no       no
4                        7          7       291.14       no       no
...                    ...        ...          ...      ...      ...
33357                    7          7       287.88       no       no
33358                    2          2       286.95       no       no
33359                    1          1       286.95       no       no
33360                    6          6       285.75       no       no
33361                    8          8       285.75       no       no

       clouds_all weather_type   weather_description  traffic_volume  year  \
0              40       Clouds      scattered clouds            5545  2012
1              75       Clouds         broken clouds            4516  2012
2              90       Clouds       overcast clouds            4767  2012
3              90       Clouds       overcast clouds            5026  2012
4              75       Clouds         broken clouds            4918  2012
...           ...          ...                   ...             ...   ...
33357          90         Mist                  mist            2348  2017
33358          90         Rain  heavy intensity rain            2194  2017
33359          90         Mist                  mist            2194  2017
33360          90         Rain  heavy intensity rain            1328  2017
33361          90         Mist                  mist            1328  2017

       month  day weekday_categorical hour_categorical
0         10    2             weekday          morning
1         10    2             weekday          morning
2         10    2             weekday          morning
3         10    2             weekday        afternoon
4         10    2             weekday        afternoon
...      ...  ...                 ...              ...
33357      5   17             weekday            night
33358      5   17             weekday            night
33359      5   17             weekday            night
33360      5   17             weekday            night
33361      5   17             weekday            night

[33362 rows x 19 columns]

In [101]:
traffic_data.loc[traffic_data['is_holiday'] != 'No Holiday', 'is_holiday'] = 1
traffic_data.loc[traffic_data['is_holiday'] == 'No Holiday', 'is_holiday'] = 0
traffic_data['is_holiday'] = traffic_data['is_holiday'].astype(int)

In [102]:
traffic_data.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekday_categorical,hour_categorical
0,0,121,89,2,329,1,1,288.28,no,no,40,Clouds,scattered clouds,5545,2012,10,2,weekday,morning
1,0,178,67,3,330,1,1,289.36,no,no,75,Clouds,broken clouds,4516,2012,10,2,weekday,morning
2,0,113,66,3,329,2,2,289.58,no,no,90,Clouds,overcast clouds,4767,2012,10,2,weekday,morning
3,0,20,66,3,329,5,5,290.13,no,no,90,Clouds,overcast clouds,5026,2012,10,2,weekday,afternoon
4,0,281,65,3,329,7,7,291.14,no,no,75,Clouds,broken clouds,4918,2012,10,2,weekday,afternoon

In [ ]:

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
traffic_data['weather_type'] = le.fit_transform(traffic_data['weather_type'])
traffic_data['weather_description'] = le.fit_transform(traffic_data['weather_description'])
traffic_data['weekday_categorical'] = le.fit_transform(traffic_data['weekday_categorical'])
traffic_data['hour_categorical'] = le.fit_transform(traffic_data['hour_categorical'])

traffic_data

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume,year,month,day,weekday_categorical,hour_categorical
0,0,121,89,2,329,1,1,288.28,no,no,40,1,24,5545,2012,10,2,0,4
1,0,178,67,3,330,1,1,289.36,no,no,75,1,2,4516,2012,10,2,0,4
2,0,113,66,3,329,2,2,289.58,no,no,90,1,19,4767,2012,10,2,0,4
3,0,20,66,3,329,5,5,290.13,no,no,90,1,19,5026,2012,10,2,0,0
4,0,281,65,3,329,7,7,291.14,no,no,75,1,2,4918,2012,10,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33357,0,74,85,1,328,7,7,287.88,no,no,90,5,17,2348,2017,5,17,0,5
33358,0,81,70,1,24,2,2,286.95,no,no,90,6,9,2194,2017,5,17,0,5
33359,0,138,70,1,24,1,1,286.95,no,no,90,5,17,2194,2017,5,17,0,5
33360,0,229,66,1,42,6,6,285.75,no,no,90,6,9,1328,2017,5,17,0,5
33361,0,140,63,1,27,8,8,285.75,no,no,90,5,17,1328,2017,5,17,0,5

In [107]:
traffic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33362 entries, 0 to 33361
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   is_holiday           33362 non-null  int32
 1   air_pollution_index  33362 non-null  int64
 2   humidity             33362 non-null  int64
 3   wind_speed           33362 non-null  int64
 4   wind_direction       33362 non-null  int64
 5   visibility_in_miles  33362 non-null  int64
 6   dew_point            33362 non-null  int64
 7   temperature          33362 non-null  float64
 8   rain_p_h             33362 non-null  object
 9   snow_p_h             33362 non-null  object
 10  clouds_all           33362 non-null  int64
 11  weather_type         33362 non-null  int32
 12  weather_description  33362 non-null  int32
 13  traffic_volume       33362 non-null  int64
 14  year                 33362 non-null  int32
 15  month                33362 non-null  int32
 16  day                  33362 non-null  int32
 17  weekday_categorical  33362 non-null  int32
 18  hour_categorical     33362 non-null  int32
dtypes: float64(1), int32(8), int64(8), object(2)
memory usage: 3.8+ MB

In [108]:
traffic_data['rain_p_h'] = le.fit_transform(traffic_data['rain_p_h'])
traffic_data['snow_p_h'] = le.fit_transform(traffic_data['snow_p_h'])

In [109]:
X = traffic_data.drop(columns=['traffic_volume'])
y = traffic_data['traffic_volume']

In [110]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2, random_state=0)

In [112]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [113]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 300, random_state = 0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [115]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error:", mae)

Mean Absolute Error: 697.8500269743744

In [118]:
from sklearn.neural_network import MLPRegressor

mlp_model = MLPRegressor(hidden_layer_sizes=(100,), max_iter=1000,learning_rate_init=0.001, random_state=42)
mlp_model.fit(X_train, y_train)

y_pred_mlp = mlp_model.predict(X_test)

c:\Users\vibha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:690: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (1000) reached and the optimization hasn't converged yet.
  warnings.warn(

In [120]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
print("Mean Squared Error (MSE): " + str(mean_squared_error(y_test, y_pred_mlp)))
print("Mean Absolute Error (MAE): " + str(mean_absolute_error(y_test, y_pred_mlp)))
r2 = r2_score(y_test, y_pred_mlp)
print(f"RÂ² Score: {r2}")

Mean Squared Error (MSE): 2326416.572657943
Mean Absolute Error (MAE): 1262.2522094066721
RÂ² Score: 0.4084514720687976

In [121]:
X_train_lstm = X_train.reshape((X_train.shape[0], 1, X_train.shape[1]))
X_test_lstm = X_test.reshape((X_test.shape[0], 1, X_test.shape[1]))

from keras.models import Sequential
from keras.layers import LSTM, Dense

lstm_model = Sequential()
lstm_model.add(LSTM(50, activation='relu', input_shape=(X_train_lstm.shape[1], X_train_lstm.shape[2])))
lstm_model.add(Dense(1))
lstm_model.compile(optimizer='adam', loss='mse')

lstm_model.fit(X_train_lstm, y_train, epochs=50, batch_size=32)

c:\Users\vibha\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\rnn\rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 10s 5ms/step - loss: 14463073.0000
Epoch 2/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 5ms/step - loss: 13450584.0000
Epoch 3/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 11432801.0000
Epoch 4/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 5ms/step - loss: 9102087.0000
Epoch 5/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 6924738.0000
Epoch 6/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 5367335.0000
Epoch 7/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 4310970.0000
Epoch 8/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 3767675.2500
Epoch 9/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 3523363.0000
Epoch 10/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 3447580.0000
Epoch 11/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 3378835.0000
Epoch 12/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 3375885.0000
Epoch 13/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 4ms/step - loss: 3383185.2500
Epoch 14/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 3304550.7500
Epoch 15/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5s 3ms/step - loss: 3319968.2500
Epoch 16/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 3314195.2500
Epoch 17/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5s 5ms/step - loss: 3308148.5000
Epoch 18/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 4ms/step - loss: 3296999.0000
Epoch 19/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 3296781.5000
Epoch 20/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 3267453.0000
Epoch 21/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 5ms/step - loss: 3298163.7500
Epoch 22/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 3288937.5000
Epoch 23/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 4ms/step - loss: 3264825.0000
Epoch 24/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 5ms/step - loss: 3238615.2500
Epoch 25/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 3251736.2500
Epoch 26/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 3265699.7500
Epoch 27/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 3245423.2500
Epoch 28/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 3233945.7500
Epoch 29/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - loss: 3241677.7500
Epoch 30/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 3228128.7500
Epoch 31/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 3207857.5000
Epoch 32/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 3186787.2500
Epoch 33/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - loss: 3144316.7500
Epoch 34/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 3123728.5000
Epoch 35/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 3164682.0000
Epoch 36/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 3136304.0000
Epoch 37/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 3069539.2500
Epoch 38/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 3100235.5000
Epoch 39/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5s 4ms/step - loss: 3032838.2500
Epoch 40/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 5ms/step - loss: 2994517.5000
Epoch 41/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 2937761.0000
Epoch 42/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 2914580.5000
Epoch 43/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 2855351.0000
Epoch 44/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 4s 4ms/step - loss: 2826601.5000
Epoch 45/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 2798052.0000
Epoch 46/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - loss: 2765418.2500
Epoch 47/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 2ms/step - loss: 2728432.0000
Epoch 48/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - loss: 2624417.5000
Epoch 49/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 3ms/step - loss: 2597086.7500
Epoch 50/50
835/835 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 4ms/step - loss: 2568944.2500

In [122]:
y_pred_lstm = lstm_model.predict(X_test_lstm)

mae_lstm = mean_absolute_error(y_test, y_pred_lstm)
r2_lstm = r2_score(y_test, y_pred_lstm)

print(f'LSTM Model - MAE: {mae_lstm}, R^2 Score: {r2_lstm}')

209/209 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step
LSTM Model - MAE: 1340.209683646224, R^2 Score: 0.340488076210022